@use 'bootstrap/scss/bootstrap' as bs;

:host {
  display: block;
  position: relative;
}

.list {
  padding: 1rem;
  background-color: bs.$body-secondary-bg-dark;
  max-height: 300px;
  overflow: scroll;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
}

.list-item {
  color: white;
  padding: 0.5rem 0.25rem;
}

.list-item:not(:last-child) {
  border-bottom: 1px solid rgba(white, 0.1);
}

.has-bottom-overflow::after,
.has-top-overflow::before {
  font-family: 'bootstrap-icons';
  font-size: 2rem;
  opacity: .5;
  line-height: 1;
  position: absolute;
  right: 1rem;
}

.has-bottom-overflow::after {
  bottom: 1rem;
  content: '\F119';
}

.has-top-overflow::before {
  top: 1rem;
  content: '\F13A';
}
